.Section{
 display:flex;
 flex-direction:column;
}

.container {
  display: flex;
  width: 90%;
  font-family: Georgia;
  justify-content: space-between;
  text-align: left;
  border-bottom: 2px solid grey;
  margin: 30px;
}

.article-date {
  flex: 0 0 10%;
  font-family: Georgia;
  color:grey;
}

.article-content {
  flex-direction: column;
  font-family: Georgia;
  font-weight: normal;
  flex-wrap: wrap;
  flex: 0 0 65%;
}

.article-content p{
  font-family: Georgia;
 
}

.article-image {
  flex: 0 0 10%;
}

.article-content div {
  width: 100%;
}

.one {
  font-family: Georgia;
  color:grey; 
}